.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #03181F;
}

.logo, .user-icon{
  margin: 10px 25px;
}

.logo{
  font-size: 25px;
}